Repository disorderedmaterials/plot: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Path conditions:
  .azure-pipelines/continuous.yml: any of: src, ci, cmake, examples, CMakeLists.txt, conanfile.txt, .azure-pipelines, .clang-format, but not: .azure-pipelines/pr.yml, .azure-pipelines/release.yml
  .azure-pipelines/pr.yml: any file but: examples, README.md, .azure-pipelines/continuous.yml, .azure-pipelines/release.yml

Fix typo.
  src/entities/line.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Fix merge errors.
  examples/basic/mainwindow_funcs.cpp
Due: .azure-pipelines/continuous.yml

Partial implementation of rotated labels (bounding cuboid limits still calculated incorrectly).
  src/classes/cuboid.cpp
  src/classes/cuboid.h
  src/entities/axis.cpp
  src/entities/line.cpp
  src/entities/text.cpp
  src/entities/text.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Rename axis main label entity and functions.
  examples/basic/mainwindow.ui
  examples/basic/mainwindow_funcs.cpp
  src/entities/axis.cpp
  src/entities/axis.h
  src/scenegraph.cpp
  src/widget.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Use pass-through on main widget to set axis label rotations.
  examples/basic/mainwindow.h
  examples/basic/mainwindow.ui
  examples/basic/mainwindow_funcs.cpp
  src/entities/axis.cpp
  src/entities/axis.h
  src/entities/text.cpp
  src/entities/text.h
  src/scenegraph.cpp
  src/widget.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Rename box for cuboid.
  src/entities/text.cpp
  src/entities/text.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

WIP 2D datasets.
  src/CMakeLists.txt
  src/entities/data2d.cpp
  src/entities/data2d.h
  src/renderers/CMakeLists.txt
  src/widget.cpp
  src/widget.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

WIP 2D renderers.
  src/renderers/2d/CMakeLists.txt
  src/renderers/2d/base.h
  src/renderers/2d/line.cpp
  src/renderers/2d/line.h
  src/renderers/2d/stylefactory.cpp
  src/renderers/2d/stylefactory.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Expand cuboid in z
  src/entities/data2d.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

WIP: use a single line entity, for now.
  src/renderers/2d/line.cpp
  src/renderers/2d/line.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

WIP 2D Dataset example.
  examples/2d/CMakeLists.txt
  examples/2d/main.cpp
  examples/2d/mainwindow.h
  examples/2d/mainwindow.ui
  examples/2d/mainwindow_funcs.cpp
  examples/CMakeLists.txt
Due: .azure-pipelines/continuous.yml

Implemented setData.
  src/entities/data2d.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

WIP More.
  examples/2d/mainwindow.h
  examples/2d/mainwindow_funcs.cpp
  src/entities/data2d.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Disable old APs.
  .azure-pipelines-disabled/continuous.yml
  .azure-pipelines-disabled/pr.yml
  .azure-pipelines-disabled/release.yml
  .azure-pipelines-disabled/templates/build-linux.yml
  .azure-pipelines-disabled/templates/build-osx.yml
  .azure-pipelines-disabled/templates/build-windows.yml
  .azure-pipelines-disabled/templates/code-quality-checks.yml
  .azure-pipelines-disabled/templates/create-release.yml
  .azure-pipelines-disabled/templates/package-zip.yml
  .azure-pipelines-disabled/templates/set-short-hash.yml
Due: .azure-pipelines/pr.yml

Add basic GHA.
  .github/workflows/continuous.yml
  .github/workflows/pr.yml
  .github/workflows/publish/action.yml
  .github/workflows/release.yml
  .github/workflows/setup/action.yml
Due: .azure-pipelines/pr.yml

Add missing QC action.
  .github/workflows/qc/action.yml
Due: .azure-pipelines/pr.yml

Disable copyright year checks for now.
  .github/workflows/qc/action.yml
Due: .azure-pipelines/pr.yml

Don't forget to install cmake-format.
  .github/workflows/qc/action.yml
Due: .azure-pipelines/pr.yml

Add the build stage workflows!
  .github/workflows/build/linux/action.yml
  .github/workflows/build/osx/action.yml
  .github/workflows/build/windows/action.yml
Due: .azure-pipelines/pr.yml

And the stub action...
  .github/workflows/build/action.yml
Due: .azure-pipelines/pr.yml

Fix variable names.
  .github/workflows/build/linux/action.yml
  .github/workflows/build/osx/action.yml
  .github/workflows/build/windows/action.yml
Due: .azure-pipelines/pr.yml

Fix unix-like builds.
  .github/workflows/build/linux/action.yml
  .github/workflows/build/osx/action.yml
Due: .azure-pipelines/pr.yml

Make directory.
  .github/workflows/build/linux/action.yml
Due: .azure-pipelines/pr.yml

Move to GHA (#58)
  .azure-pipelines-disabled/continuous.yml
  .azure-pipelines-disabled/pr.yml
  .azure-pipelines-disabled/release.yml
  .azure-pipelines-disabled/templates/build-linux.yml
  .azure-pipelines-disabled/templates/build-osx.yml
  .azure-pipelines-disabled/templates/build-windows.yml
  .azure-pipelines-disabled/templates/code-quality-checks.yml
  .azure-pipelines-disabled/templates/create-release.yml
  .azure-pipelines-disabled/templates/package-zip.yml
  .azure-pipelines-disabled/templates/set-short-hash.yml
  .github/workflows/build/action.yml
  .github/workflows/build/linux/action.yml
  .github/workflows/build/osx/action.yml
  .github/workflows/build/windows/action.yml
  .github/workflows/continuous.yml
  .github/workflows/pr.yml
  .github/workflows/publish/action.yml
  .github/workflows/qc/action.yml
  .github/workflows/release.yml
  .github/workflows/setup/action.yml
Due: .azure-pipelines/pr.yml

Fix branch target for continuous.
  .github/workflows/continuous.yml
Due: .azure-pipelines/pr.yml

Don't need Harbor.
  .github/workflows/continuous.yml
Due: .azure-pipelines/pr.yml

Separate publishing streams for continuous/release.
  .github/workflows/publish/action.yml
Due: .azure-pipelines/pr.yml

Update releasing.
  .github/workflows/continuous.yml
  .github/workflows/release.yml
Due: .azure-pipelines/pr.yml

CI Fixes (#59)
  .github/workflows/continuous.yml
  .github/workflows/publish/action.yml
  .github/workflows/release.yml
Due: .azure-pipelines/pr.yml

Remove old APs.
  .azure-pipelines-disabled/continuous.yml
  .azure-pipelines-disabled/pr.yml
  .azure-pipelines-disabled/release.yml
  .azure-pipelines-disabled/templates/build-linux.yml
  .azure-pipelines-disabled/templates/build-osx.yml
  .azure-pipelines-disabled/templates/build-windows.yml
  .azure-pipelines-disabled/templates/code-quality-checks.yml
  .azure-pipelines-disabled/templates/create-release.yml
  .azure-pipelines-disabled/templates/package-zip.yml
  .azure-pipelines-disabled/templates/set-short-hash.yml
Due: .azure-pipelines/pr.yml

Remove old APs. (#60)
  .azure-pipelines-disabled/continuous.yml
  .azure-pipelines-disabled/pr.yml
  .azure-pipelines-disabled/release.yml
  .azure-pipelines-disabled/templates/build-linux.yml
  .azure-pipelines-disabled/templates/build-osx.yml
  .azure-pipelines-disabled/templates/build-windows.yml
  .azure-pipelines-disabled/templates/code-quality-checks.yml
  .azure-pipelines-disabled/templates/create-release.yml
  .azure-pipelines-disabled/templates/package-zip.yml
  .azure-pipelines-disabled/templates/set-short-hash.yml
Due: .azure-pipelines/pr.yml

Initial files.
  flake.lock
  flake.nix
Due: .azure-pipelines/pr.yml

Update flake.lock.
  flake.lock
Due: .azure-pipelines/pr.yml

Add nix flake (#61)
  flake.lock
  flake.nix
Due: .azure-pipelines/pr.yml

Update metrics.h
  src/classes/metrics.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update metrics.h (#63)
  src/classes/metrics.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove old cmake flag.
  flake.nix
Due: .azure-pipelines/pr.yml

Set environment variables for Qt6 in devshell.
  flake.nix
Due: .azure-pipelines/pr.yml
