Repository disorderedmaterials/plot: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

.azure-pipelines/continuous.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - job: linux
      displayName: Ubuntu
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 1
      - template: templates/set-short-hash.yml
  ...

.azure-pipelines/pr.yml:
  stages:
  - template: templates/code-quality-checks.yml
  - stage: build
    displayName: Build
    jobs:
    - job: linux
      displayName: Ubuntu
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 1
      - template: templates/set-short-hash.yml
  ...

Update nix dev shell (#62)
  flake.nix
Due: .azure-pipelines/pr.yml

Update singularity generation.
  flake.nix
Due: .azure-pipelines/pr.yml

Use nixGL.
  flake.lock
  flake.nix
Due: .azure-pipelines/pr.yml

Output vertex position from line tesselator geometry shader.
  src/shaders/line_tesselator.geom
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Move to LLVM 13 (nix).
  flake.nix
Due: .azure-pipelines/pr.yml

Update phong shader to use proper variables.
  src/shaders/phong.frag
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Format clipped shader.
  src/shaders/clipped.vert
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update pervertexphong shader to use proper variables.
  src/shaders/phongpervertex.frag
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Phong Fix (#65)
  src/shaders/clipped.vert
  src/shaders/line_tesselator.geom
  src/shaders/phong.frag
  src/shaders/phongpervertex.frag
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update flake (#64)
  flake.lock
  flake.nix
Due: .azure-pipelines/pr.yml

symbol_triangle.cpp
  src/renderers/1d/symbol_triangle.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

symbol_triangle.h
  src/renderers/1d/symbol_triangle.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update base.h
  src/renderers/1d/base.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

symbol_base.cpp
  src/renderers/1d/symbol_base.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update stylefactory.h
  src/renderers/1d/stylefactory.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update stylefactory.cpp
  src/renderers/1d/stylefactory.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update CMakeLists.txt
  src/renderers/1d/CMakeLists.txt
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update mainwindow.ui
  examples/errors/mainwindow.ui
Due: .azure-pipelines/continuous.yml

Add material storage for symbol entity in base DataEntity.
  src/entities/data.cpp
  src/entities/data.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Always add symbol renderer to Data1DEntity.
  src/entities/data1d.cpp
  src/entities/data1d.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Add option to have no symbols (since we always have a renderer).
  src/renderers/1d/CMakeLists.txt
  src/renderers/1d/stylefactory.cpp
  src/renderers/1d/stylefactory.h
  src/renderers/1d/symbol_none.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Remove additional vector argument from SymbolRenderer constructor.
  src/renderers/1d/base.h
  src/renderers/1d/symbol_triangle.cpp
  src/renderers/1d/symbol_triangle.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Final fixup, and don't forget to add the material to the symbol renderer!
  examples/errors/mainwindow_funcs.cpp
  src/renderers/1d/symbol_triangle.cpp
  src/widget.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update mainwindow_funcs.cpp
  examples/errors/mainwindow_funcs.cpp
Due: .azure-pipelines/continuous.yml

Update mainwindow.h
  examples/errors/mainwindow.h
Due: .azure-pipelines/continuous.yml

Update examples/errors/mainwindow.h
  examples/errors/mainwindow.h
Due: .azure-pipelines/continuous.yml

Update examples/errors/mainwindow_funcs.cpp
  examples/errors/mainwindow_funcs.cpp
Due: .azure-pipelines/continuous.yml

Update src/renderers/1d/symbol_triangle.cpp
  src/renderers/1d/symbol_triangle.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update symbol_triangle.cpp
  src/renderers/1d/symbol_triangle.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update symbol_triangle.h
  src/renderers/1d/symbol_triangle.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Path conditions:
  .azure-pipelines/continuous.yml: any of: src, ci, cmake, examples, CMakeLists.txt, conanfile.txt, .azure-pipelines, .clang-format, but not: .azure-pipelines/pr.yml, .azure-pipelines/release.yml
  .azure-pipelines/pr.yml: any file but: examples, README.md, .azure-pipelines/continuous.yml, .azure-pipelines/release.yml
