Repository disorderedmaterials/plot: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Path conditions:
  .azure-pipelines/continuous.yml: any of: src, ci, cmake, examples, CMakeLists.txt, conanfile.txt, .azure-pipelines, .clang-format, but not: .azure-pipelines/pr.yml, .azure-pipelines/release.yml
  .azure-pipelines/pr.yml: any file but: examples, README.md, .azure-pipelines/continuous.yml, .azure-pipelines/release.yml

Revert to our main class being a QEntity.
  examples/qml/main.cpp
  examples/qml/main.qml
  src/component.cpp
  src/component.h
  src/scenegraph.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Working towards data interface.
  examples/qml/main.cpp
  examples/qml/main.qml
  src/CMakeLists.txt
  src/component.cpp
  src/component.h
  src/data.cpp
  src/data.h
  src/data1DSource.cpp
  src/data1DSource.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Prep.
  src/component.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Property for source data.
  examples/qml/main.cpp
  examples/qml/main.qml
  src/component.cpp
  src/component.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Format.
  src/component.cpp
  src/component.h
  src/data.cpp
  src/data.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Create / update display entity 1D from source data.
  examples/qml/main.cpp
  src/component.cpp
  src/component.h
  src/data.cpp
  src/data.h
  src/data1DSource.cpp
  src/data1DSource.h
  src/entities/data1d.cpp
  src/entities/data1d.h
  src/scenegraph.cpp
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

nodiscards.
  src/data1DSource.h
  src/entities/data1d.h
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Update per-vertex phong shader.
  src/component.cpp
  src/shaders/phong.frag
  src/shaders/phongpervertex.frag
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Trying to fix clipping.
  examples/qml/main.qml
  src/component.cpp
  src/shaders/clipped.vert
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Playing with clipped.vert.
  src/shaders/clipped.vert
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Try to move to View3D.
  examples/qml/main.qml
Due: .azure-pipelines/continuous.yml

Get building on nixos
  examples/qml/main.qml
  flake.lock
  flake.nix
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Draw a triangle
  CMakeLists.txt
  examples/CMakeLists.txt
  examples/qml/CMakeLists.txt
  examples/qml/main.cpp
  flake.nix
  lib/CMakeLists.txt
  lib/lineGeometry.cpp
  lib/lineGeometry.h
  lib/main.qml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Draw lines in QML
  lib/lineGeometry.cpp
  lib/main.qml
Due: .azure-pipelines/pr.yml

Draw a red sine curve
  lib/lineGeometry.cpp
  lib/main.qml
Due: .azure-pipelines/pr.yml

Constant line thickness
  lib/lineGeometry.cpp
Due: .azure-pipelines/pr.yml

Custom line thickness
  lib/lineGeometry.cpp
  lib/lineGeometry.h
  lib/main.qml
Due: .azure-pipelines/pr.yml

Adjust thickness at runtime
  lib/lineGeometry.cpp
  lib/lineGeometry.h
  lib/main.qml
Due: .azure-pipelines/pr.yml

Fully define data in QML
  lib/lineGeometry.cpp
  lib/lineGeometry.h
  lib/main.qml
Due: .azure-pipelines/pr.yml

Live update of frequency
  lib/main.qml
Due: .azure-pipelines/pr.yml

Add text to plot
  lib/main.qml
Due: .azure-pipelines/pr.yml

Separate out graph into separate file
  examples/qml/main.cpp
  lib/CMakeLists.txt
  lib/LineModel.qml
  lib/main.qml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Orbital Camera control
  lib/main.qml
Due: .azure-pipelines/pr.yml

Modify graph data from outside graph module
  lib/LineModel.qml
  lib/lineGeometry.cpp
  lib/lineGeometry.h
Due: .azure-pipelines/pr.yml

Update graph on every change
  lib/main.qml
Due: .azure-pipelines/pr.yml

Allow customising colour
  lib/LineModel.qml
  lib/main.qml
Due: .azure-pipelines/pr.yml

Fix end points of lines
  lib/lineGeometry.cpp
Due: .azure-pipelines/pr.yml

Add an axis line
  examples/qml/main.cpp
  lib/CMakeLists.txt
  lib/axis.cpp
  lib/axis.h
  lib/main.qml
Due: .azure-pipelines/continuous.yml, .azure-pipelines/pr.yml

Scale the plot with the window
  lib/LineModel.qml
  lib/axis.cpp
  lib/main.qml
Due: .azure-pipelines/pr.yml

Factor our AxisModel
  lib/AxisModel.qml
  lib/main.qml
Due: .azure-pipelines/pr.yml

Use axes for scaling
  lib/LineModel.qml
  lib/axis.cpp
  lib/axis.h
  lib/lineGeometry.cpp
  lib/lineGeometry.h
  lib/main.qml
Due: .azure-pipelines/pr.yml

Start working on Axes labels
  lib/AxisModel.qml
  lib/main.qml
Due: .azure-pipelines/pr.yml

Get correct axis labels
  lib/AxisModel.qml
  lib/CMakeLists.txt
  lib/axis.cpp
  lib/axis.h
  lib/axisTickLabels.cpp
  lib/axisTickLabels.h
  lib/main.qml
Due: .azure-pipelines/pr.yml

Two plots at once
  lib/main.qml
Due: .azure-pipelines/pr.yml

Change number of tics at runtime
  lib/axis.cpp
  lib/axis.h
  lib/axisTickLabels.cpp
  lib/axisTickLabels.h
  lib/main.qml
Due: .azure-pipelines/pr.yml

Remove debugging print
  lib/axisTickLabels.cpp
Due: .azure-pipelines/pr.yml

Better endings for lines
  lib/lineGeometry.cpp
Due: .azure-pipelines/pr.yml

Move to clang-format-17.
  .github/workflows/qc/action.yml
Due: .azure-pipelines/pr.yml

Update OSX build.
  .github/workflows/build/osx/action.yml
Due: .azure-pipelines/pr.yml

Update artifact handling.
  .github/workflows/build/linux/action.yml
  .github/workflows/build/osx/action.yml
  .github/workflows/build/windows/action.yml
  .github/workflows/publish/action.yml
Due: .azure-pipelines/pr.yml
